<a href="https://colab.research.google.com/github/akbarroyhan69-gif/running-pace-analyst-/blob/main/describe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
d= pd.read_excel("/content/sfx.xlsx")
d.head()

,Timestamp,Email Address,Score,Name,Email,semester,usia,pace,berat,tinggi,latihan_per_minggu,perokok
0,2025-05-15 06:01:09.244,anggamarifat@gmai.com,0.0,Pujangga aji,anggamarifat@gmai.com,7.0,22,8.0,68,162.0,3.0,1.0
1,2025-05-15 06:27:24.613,iqbalhidayah40@student.iqt.unida.gontor.ac.id,0.0,Iqbal hidayah,iqbalhidayah40@student.iqt.unida.gontor.ac.id,7.0,23,4.0,56,158.0,1.0,0.0
2,2025-05-15 11:35:53.068,hzidniy@gmail.com,0.0,Zidniy,hzidniy@gmail.com,7.0,20,5.0,49,150.0,1.0,0.0
3,2025-05-20 21:29:14.949,qberabdillah14@gmail.com,0.0,Akbar abdilah,Qberabdillah14@gmail.com,7.0,21,6.4,68,160.0,4.0,0.0
4,2025-05-21 06:19:53.757,mbayusantoso@gmail.com,0.0,Muhammad Bayu santoso,mbayusantoso@gmail.com,1.0,18,7.0,60,163.0,4.0,0.0

In [5]:
kolom = [
    "semester",
    "usia",
    "pace",
    "berat",
    "tinggi",
    "latihan_per_minggu",
    "perokok"
]
slc = d[kolom]
slc.describe()

         semester        pace      tinggi  latihan_per_minggu     perokok
count  115.000000  115.000000  115.000000          115.000000  115.000000
mean     2.982609    8.348609  165.686957            2.739130    0.173913
std      2.645694    3.781446    6.395400            1.504887    0.380693
min      1.000000    3.000000  144.000000            1.000000    0.000000
25%      1.000000    5.245000  162.000000            1.500000    0.000000
50%      1.000000    7.000000  166.000000            3.000000    0.000000
75%      6.500000   10.000000  170.000000            3.500000    0.000000
max      7.000000   18.000000  178.000000            7.000000    1.000000